.worktrees/
.assets
.docs
.env
*.pyc
dist/
build/
.tmp_pkg*/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
.venv_rembg/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
nano.*.save
.DS_Store
uv.lock
*.E01
*.E0?
*.dd
*.md
!/README.md
